<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/icon_app"
        android:label="@string/check_name"
        android:roundIcon="@mipmap/icon_app"
        tools:replace="android:label,android:icon,android:roundIcon">
    </application>

</manifest>